@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    line-height: 1.5;
}
body,
input,
textarea,
button{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.align-items-center{
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.header .brand-name{
    /* background-color: crimson; */
    padding: 0 15px;
}
.header .nav{
    /* background-color: rgb(68, 68, 70); */
    padding: 0 15px;
}
.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}
.header .nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 25px 0;
    display: block;
}
.home-section{
    min-height: 100vh;
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-position: center;
}